:root {
    --primary--color: #F7F7F7;
    --secondary--color: #96C7C1;
    --third--color: #FBD148;
    --fouth--color: #D1E8E4;
    --fifth--color: #2E4C6D;
    --sixth--color: #E3F6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font: normal 1rem/1.5 'Arial', sans-serif;
    background: var(--primary--color);
    color: grey;
    /*no any scroll bar / stop above content*/
    overflow-x: hidden;
    margin: 0px auto 0px auto;
    width: 1200px;
    padding: 50px;
    padding-bottom: 50px;
    line-height: 1.42857143rem;
}

.main {
    width: 100%;
    justify-content: center;
    padding: 20px 15px 20px 15px;
    margin-right: auto;
    margin-left: auto;
    /*overflow: auto;*/
}

#home-header {
    padding: 0.1rem 0;
    margin: 0;
    grid-area: home-header;
    line-height: 5rem;
    text-align: center;
}

.back-g h1 {
    font-size: 80px;
    margin-top: 40px;
    text-align: left;
    position: relative;
    /*margin-left: 50px;*/

}

.back-g h2 {
    font-size: 80px;
    text-align: left;
    color: #2a66b3;
    position: relative;
    /*padding-top: 0;*/
}

.back-g h3 {
    font-size: 60px;
    text-align: left;
    color: #96C7C1;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 60px;
}

h4 {
    font-size: 23px;
    padding-bottom: 0.5rem;
    font-weight: unset;
}

h5 {
    font-size: 23px;
}

.text-logo i {
    color: #7952B3;
}

.container h1 {
    color: #009DAE;
}

.container h2 {
    color: #32C1CD;
}

/*profiles grid articles*/
.box-3 {
    display: grid;
    grid-template-areas: inherit;
    grid-gap: 1rem;
    /*border: 1rem solid black; */
}

.profile {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-areas:
   /*   'content'*/ /*'sidebar'*/ /*'box-1'*/ /*'box-2'*/ /*'box-3'*/ /*'footer';*/ /** 3 column*/
            'detail detail detail'
            'content content sidebar'
            'box-1 box-2 box-2'
            'box-3 box-3 box-3'
            'footer footer footer';
    grid-gap: 0.1rem; /*create space between table*/
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    background: none;
    /*border: 0.1rem solid black;*/
}

/*.detail {*/
/*    grid-area: detail; !*to make profile header to stay above columns*!*/
/*    padding-top: 1rem;*/
/*}*/

/*.detail {*/
/*    !*border: 1px black solid;*!*/
/*    padding: 0.5rem;*/
/*    background: none;*/
/*    font-size: 40px;*/
/*}*/

.content, .sidebar, .box-1, .box-2, .box-3, .footer {
    /*border: 1px black solid;*/
    padding: 0 1rem 1rem;
    /*background: #E3F6F5;*/
}

.detail {
    grid-area: detail;
    /*text-align: center;*/
}

.content {
    grid-area: content;
    text-align: justify;
    text-align-last: auto;
}

.content h3 {
    padding-bottom: 0;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar h3 {
    padding-bottom: 1.4rem;
}

.sidebar ul li {
    /*padding-top: 1rem;*/
    padding-left: 0.1rem;
    font-size: 18px;
    list-style-type: none;
}

.sidebar ul li i {
    color: #17D7A0;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
    color: orange;
}

.box-1 {
    grid-area: box-1
}

.box-2 {
    grid-area: box-2
}

.box-3 {
    grid-area: box-3
}

.box-1 h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.box-1 div {
    font-size: 20px;
    color: gray;
    text-align: center;
}

.box-1 div:hover {
    color: #E3F6F5;
}

.bg-1 {
    background: #FBD148;
}

.bg-2 {
    background: #2E4C6D;
}

.bg-3 {
    background: #E1E8EB;
}

.bg-4 {
    background: #71DFE7;
}

.bg-5 {
    background: cornflowerblue;
}

.bg-6 {
    background: lightgrey;
}

.bg-7 {
    background: coral;
}

.bg-7 {
    background: plum;
}

.bg-8 {
    background: darkseagreen;
}

.box-2 h3 {
    padding-bottom: 1rem;
}

.box-2 ul li {
    font-size: 20px;
    list-style-type: none;
}

.box-2 ul li i {
    color: #C996CC;
}

.box-3 {
    padding-bottom: 0;
}

/*footer*/
.container {
    text-align: center;
}

#main-footer .social ul {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0rem;
    align-items: center;
    margin: 0;
    justify-self: center;
    list-style-type: none;
}

#main-footer .social ul li:first-child {
    margin-left: 0;
}

#main-footer .social ul li a {
    font-size: 50px;
    color: gray;
    text-align: center;
    color: #fff;
    background: #2a66b3;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
    /*width:70px;*/
    /*height:28px;*/
    /*padding-top:12px;*/
}

.g-github .fab:hover {
    background: black;
}

.l-linkedin .fa:hover {
    background: #007bb5;;
}

.i-instagram .fab:hover {
    background: #f09433;
}

.t-twitter .fa:hover {
    background: #35bbec;
}

#main-footer .text-logo {
    font-size: 80px;
}

#main-footer.text-logo .an {
    font-size: 20px;
}


.gap {
    margin-right: 10px;
}

#main-footer .social ul li a i {
    font-size: 90px;
    border: 1px solid #e0e0e0;
}

.container h2 {
    padding-bottom: 40px;
    font-size: 10px;
}

.contact h4, .contact p {
    background: none;
    text-align: center;
    padding-top: 20px;
}

.contact p {
    padding-top: 0;
    color: #7952B3;
    text-align: center;
}

/*time line JS*/
#timeline ul {
    background: var(--primary--color);
    padding: 50px 0;
}

/*set the background for the line / div is a block*/

#timeline ul {
    background: var(--primary--color);
    padding: 50px 0;
}

#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--fifth--color);
}

/*box*/
#timeline ul li div {
    position: relative;
    margin-left: 10px;
    bottom: 0;
    width: 500px;
    padding: 1rem;
    background: var(--fouth--color);
    transition: all 0.5s ease-in-out;
    /* hidden the screen by add class on elements on JS*/
    visibility: hidden;
    opacity: 0;
}

/*right side*/
/*set box in the right side by should odd box*/
#timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
}

/*set box to the left side by use even number*/
#timeline ul li:nth-child(even) div {
    left: -530px;
    transform: translate(-200px, 0);
}

/*show boxes*/
#timeline ul li.on div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/*change dot to yellow*/
#timeline ul li.on:after {
    background-color: var(--third--color);
}

/*dots in the middle of timeline*/
#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 30px;
    /*background: var(--third--color); MOVE TO ON CLASS to shows yellow everytime box hit in*/
    transform: translateX(-50%); /*move it over and make a circle base on the left*/
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

/*set the arrow direction on the right */
#timeline div:before {
    content: '';
    position: absolute;
    bottom: 30px;
    width: 0;
    height: 0;
    border-style: solid;
}

/*right side arrow set shape of arrow*/
#timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 15px 30px 15px 0;
    border-color: transparent var(--fouth--color) transparent transparent;
}

/*set the arrow direction on the left*/
#timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent var(--fouth--color);
}